.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 100px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 100%;
}


.btnGroup {
  display: flex;
  justify-content: space-between;
}



